.form-container {
  display: block;
  margin: 0px auto;
  background-color: firebrick;
  color: bisque;
  border: 2px solid whitesmoke;
  box-shadow: 0px 0px 4px 3px bisque;
  padding: 20px;
  max-width: 400px;
  position: relative;
  height: 180px;
}
.input-el {
  padding: 5px 10px;
  margin: 10px auto;
  text-align: center;
}

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 15px;
}

input {
  height: 2rem;
  width: 250px;
  border: none;
  padding: 4px 8px;
  background-color: bisque;
  color: firebrick;
}

input:focus {
  outline: none;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left:0;
  /* border-top:1px solid bisque; */
}