.message-container__header{
  display: block;
  position: absolute;
  padding: 10px;
  top: -24px;
  background-color: bisque;
  width: 100%;
  color: firebrick;
  font-size: larger;
  text-shadow: none;
}

.message-container__msg{
  margin: 10px auto;
}

button.message-container__btn{
  position: absolute;
  bottom: 10px;
}